* {
  margin: 0px;
  font-size: 0;
}

body {
  width: 960px;
}

img {
  outline: solid 2px black;
}

#a {
  text-align: left;
}

#b {
  float: left;
}

@media only screen and (max-width: 480px) {
  body {
    width: 480px;
  }

  img {
    display: block;
  }

  #a {
    width: 480px;
    height: 75px;
  }

  #b {
    width: 480px;
    height: 150px;
  }

  /* .c-d {
    width: 480px;
    height: 125px;
  } */

}
